PORT=4000
DATABASE_URL=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/barberdemo?retryWrites=true&w=majority
JWT_SECRET=<jwt_secret_aleatorio_largo>
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000
MP_ACCESS_TOKEN=APP_USR-<tu_access_token_de_mercadopago>
ADMIN_EMAIL=admin@tudominio.com
ADMIN_PASSWORD=<password_seguro>
